.wp-block-progressus-counter {
    text-align: center;
    padding: 20px;
}

.wp-block-progressus-counter .counter-value {
    font-size: 2em;
    font-weight: bold;
    margin: 0 5px;
}

.wp-block-progressus-counter .prefix,
.wp-block-progressus-counter .suffix {
    font-size: 1.5em;
}