.wp-block-progressus-progress {
    margin: 1em 0;

    .progressus-progress-bar {
        .progressus-progress-bar-container {
            width: 100%;
        }

        .progressus-progress-bar-fill {
            transition: width 1s ease-in-out;
        }

        h4 {
            margin-top: 0;
        }
    }
}